mat-form-field {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 10%;
    text-align: center;
}

button {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}

.center {
    padding-top: 15%;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    vertical-align: center;
}