<mat-toolbar *ngIf="!inLogin && isLogged" class="toolbar">
    Frontdesk
    <div class="toolbar">
        <span class="toolbar-text">From:&nbsp;&nbsp;&nbsp;</span>
        <input id="startDate" type="date" class="date" [value]="currentDate" (change)="onChange($event)">
        <span class="toolbar-text">To:&nbsp;&nbsp;&nbsp;</span>
        <input id="endDate" type="date" class="date" [value]="currentDate" (change)="onChange($event)">
        <a [href]="registerUrl" *ngIf="loggedUser.role === 'Super Admin'">
            <button mat-flat-button>Register</button>
        </a>
        <a [href]="entriesUrl" *ngIf="loggedUser.role === 'User'">
            <button mat-flat-button>Entries</button>
        </a>
        <a [href]="tabletUrl">
            <button mat-flat-button>Tablet</button>
        </a>
        <button mat-flat-button style="justify-content: center;" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </div>
</mat-toolbar>
<router-outlet (activate)="onActivate($event)"></router-outlet>